@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@keyframes shine {
  0% { left: -100px; }
  60%, 100% { left: 100%; }
}